.project-details {
  padding: 80px 10%;
  background: #0f172a;
  color: white;
  min-height: 100vh;
}

.back-btn {
  padding: 10px 20px;
  background: #1e293b;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.3s;
}

.back-btn:hover {
  background: #38bdf8;
}

.details-container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.details-container img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.details-container h1 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.details-container p {
  color: #cbd5e1;
  line-height: 1.8;
}

.tech-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tech-list span {
  background: #1e293b;
  padding: 6px 12px;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.buttons a {
  text-decoration: none;
  padding: 10px 20px;
  background: #38bdf8;
  color: white;
  border-radius: 8px;
  transition: 0.3s;
}

.buttons a:hover {
  background: #0ea5e9;
}